import React from 'react';

import './{{pascalCase name}}.scss';

const {{pascalCase name}} = () => {
  return (
    <div className='{{kebabCase name}}'>
      {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}};
